.all{
    background-color: rgb(127 188 222);
    width: 550px;
    height: 200px;
    border: 3px solid #05f461;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 10px;

}
.tit{
    color: #005ef0;
    margin: 5px;
    font-size: large;
    font-family: sans-serif;
}

.s1{
    color: #f64141;
    margin-top: 20px;
    font-size: medium;
    font-family: math;
}
.s2{
    color: #f64141;
    margin-top: 20px;
    font-size: medium;
    font-family: math;
}